.nav-container {
    display: flex;
    background-color: rgb(17, 16, 16);
    padding: 20px;
    margin-top: 0;
    justify-content: space-between;
}

.nav-container > div {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

.nav-container > h3 {
    color: white;
    margin: 0;
}
a:any-link {
    color: white;
    text-decoration: none;
}